.FeaturesList {
  background: #1a8fe3;
  color: #FFF;
  margin: 0;

  .Icon {
    color: #FFF;
  }
}

@media screen and (min-width: 600px) {
  .FeaturesList {
    & > div {
      display: flex;
      flex-flow: row wrap;
    }
  }
}