.Button {
  background-color: #1A8FE3;
  border: none;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  transition: all 300ms ease-out;

  &--full-width {
    display: block;
    width: 100%;
  }

  &--header:not(&--disabled) {
    border: 1px solid #FFF;
  }

  &--danger {
    color: #FFF;
    background-color: #d84444;
  }

  &--light {
    background-color: #FFF;
    color: #000;
  }

  &--inline {
    padding: 20px 0;
  }

  &--success {
    background-color: #71f09b;
    color: #000;
  }

  &--transparent-light {
    background-color: transparent;
    color: #FFF;
  }

  &--disabled {
    background-color: #b5daf5;
    color: #333;
    cursor: normal;
    pointer-events: none;
  }
}