footer {
  background: #FFF;
  bottom: 0;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, .06);
  position: fixed;
  width: 100%;

  .&__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}